# Auto detect text files and perform LF normalization
* text=auto

# Force Python
*.py linguist-detectable=true
*.py linguist-language=Python

# Completely exclude these folders from language stats
Data/* linguist-vendored
Images/* linguist-vendored
Visuals/* linguist-vendored
Results/* linguist-vendored
Executive_Summary/* linguist-vendored